{% include "header.html" %}
<marquee style="color:red; background-color:yellow;"><h1> BACKFIRE - We make it so your rise again</h1></marquee>

  <center><img src="static/images/1st.jpg" alt="Cinque Terre" width="400" height="400"></center>
  <div class="desc" style="color:yellow;"><h1>Wash your hands</h1></div>

  <center><img src="static/images/2nd.jpg" alt="Forest" width="400" height="400">
  </center>
<div class="desc" style="color:yellow;"><h1>Stay at home.</h1></div>

  <center><img src="static/images/3rd.jpg" alt="Northern Lights" width="400" height="400">
  </center>
<div class="desc" style="color:yellow;"><h1>Do not touch your face.</h1></div>


</div>
  <center><h1  style="color:orange; background-color:green;" padding="20">Hi, Welcome to our Website. Here you can get information about necessary precautions you should take
    after Lockdown. We should be careful for some months. </h1></center>
  <center><h1 size=32 style="color:orange; background-color:green;" padding="20">Here you can apply for job. We will update you as soon as some company accepts your form. Do share this site  with your friends.
  More awesome things coming on site soon </h1></center>
</body>
</html>